/**
 * Flexbox mixins
 */
@mixin flexbox {
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex; 
	display:flex; 
}

@mixin flex($values) {
	-webkit-box-flex: $values;
	-moz-box-flex:  $values;
	-ms-flex:  $values;
	-webkit-flex:  $values;
	flex:  $values;
}

@mixin flex-flow($values) {
	-webkit-flex-flow: $values;
	-moz-flex-flow:  $values;
	-ms-flex-flow:  $values;
	-o-flex-flow:  $values;
	flex-flow:  $values;
}

@mixin flex-wrap($values) {
	-webkit-flex-wrap: $values;
	-moz-flex-wrap:  $values;
	-ms-flex-wrap:  $values;
	-o-flex-wrap:  $values;
	flex-wrap:  $values;
}

@mixin flex-basis($values) {
	-webkit-flex-basis: $values;
	-moz-flex-basis:  $values;
	-ms-flex-basis:  $values;
	-o-flex-basis:  $values;
	flex-basis:  $values;
}

@mixin flex-order($order){
	-webkit-box-ordinal-group: $order;
	-moz-box-ordinal-group: $order;
	-ms-flex-order: $order;
	-webkit-order: $order;
	order: $order;
}

@mixin flex-direction($direction) {
 @if $direction == column {
		-webkit-flex-direction: vertical;
		-moz-flex-direction: vertical;
		-ms-flex-direction: column;
		-webkit-flex-direction: column;
		flex-direction: column;
 }  @else  {
		-webkit-flex-direction: horizontal;
		-moz-flex-direction: horizontal;
		-ms-flex-direction: row;
		-webkit-flex-direction: row;
		flex-direction: row;
	}
}