/* ========================================================== */
/* 			            01. Variables                          */
/* ========================================================== */
$font-size-root:14px!default;
$grid-gutter-width:20px!default;

/* ========================================================== */
/* 			            02. Colors                          */
/* ========================================================== */
$main-font-color:#2d2d2c!default;
$body-background-color:#f8f8f8!default;

/* ========================================================== */
/* 			         03. Breakpoints                          */
/* ========================================================== */
$sm-max: 575px!default;
$md-max: 767px!default;
